body{
	background: #f4f4f4;
}
.navbar{
	background: white;
	border: 1px solid white;
	border-radius: 0px;
	margin-bottom: 0px;
}
#titleForm{
	color:white; 
	padding-top: 60px; 
	padding-left: 20px; 
	padding-right: 20px;
}
.form-horizontal{
	padding-left: 20px; 
	padding-right: 20px;
}
#road{
	background-image: url("img/road.png");
}
#buscar{
	background-color: orange; 
	color:white;
}
#footerForm{
	padding-top: 140px;
	color:white;margin-left: 30px;
}
.col-sm-3,.col-sm-2{
	padding-top: 10px;
}
.images{
	background-color: white;
	cursor: pointer;
}
.row{
    overflow: hidden; 
}

[class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
.segundaFila{
	background:#e4f5fc;
}
#blablaComo{
	background:#bbe5fa; 
	padding-left: 0px; 
	padding-right: 0px;
}
#blablaComoTitle{
	background:#32a0f5; 
	margin:0px; 
	color:white;
}
#blablaQuien{
	background:#bbe5fa; 
	padding-left: 0px; 
	padding-right: 0px;
}
#blablaQuienTitle{
	background:#32a0f5; 
	margin:0px; 
	color:white;
}
#blablaLive{
	background:#bbe5fa; 
	padding-left: 0px; 
	padding-right: 0px;
}
#blablaLiveTitle{
	background:#32a0f5; 
	margin:0px; 
	color:white;
}
p{
	margin-left: 20px;
}

footer{
	background-color: #32a0f5;
	color: white;
}
img{
	cursor: pointer;
}